<template>
  <main>
    <section
      id="home"
      class="container"
      v-observe-visibility="{
        callback: showSection,
        intersection: { threshold: 0.3, },
      }"
    >
      <div>
        <h1 class="title logo" title="The Loop">
          <img src="/images/logo.png" title="Logo of the Loop" alt="The Loop">
        </h1>
        <h2 class="subtitle">
          A Bi-weekly<br/>
          <em>Open Source</em><br/>
          <em>Gathering</em> and <em>Hackathon</em>.
        </h2>
        <div class="content">
          <p>
            Every 2 weeks, we gather up,<br/>
            do open source projects,<br/>
            help each other, and chit-chat.
          </p>
        </div>
      </div>
    </section>
    <section
      id="why"
      class="container"
      v-observe-visibility="{
        callback: showSection,
        intersection: { threshold: 0.3, },
      }"
    >
      <div>
        <h2 class="section-title">Why</h2>
        <div class="content">
          <p>Open Source development can be lonely.</p>
          <p>You might need someone to cheer you up or help you out.</p>
          <p>
            We figured if we meet every 2 weeks and do it together,<br/>
            we can <em>motivate</em> each other and <em>contribute more</em>.
          </p>
          <p>Also, it's fun :-)</p>
        </div>
      </div>
    </section>
    <section
      id="when"
      class="container"
      v-observe-visibility="{
        callback: showSection,
        intersection: { threshold: 0.3, },
      }"
    >
      <div>
        <h2 class="section-title">When</h2>
        <div class="content">
          <ol>
            <li>Every other <em>Wednesday</em> night. 8pm - 11pm.</li>
            <li>Never postpone. Skip public holidays.</li>
          </ol>
          <div class="google-calendar-wrapper"><div class="google-calendar">
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=op2rln4h4ibicoidceeajqed8g%40group.calendar.google.com&amp;color=%23aa0000&amp;ctz=Asia%2FHong_Kong"
              allowtransparency="yes"
              width="100%"
              height="100%"
              frameborder="0"
              scrolling="no"
            ></iframe>
          </div></div>
          <div class="links calendar-links">
            <div class="link-wrapper">
              <a class="link caldav-link" target="_blank"
                href="https://calendar.google.com/calendar/ical/op2rln4h4ibicoidceeajqed8g%40group.calendar.google.com/public/basic.ics">
                <span>iCal / CalDAV</span>
              </a>
            </div>
            <div class="link-wrapper">
              <a class="link google-calendar-link" target="_blank"
                href="https://calendar.google.com/calendar/embed?src=op2rln4h4ibicoidceeajqed8g%40group.calendar.google.com&ctz=Asia%2FHong_Kong">
                <span>Google Calendar</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      id="where"
      class="container"
      v-observe-visibility="{
        callback: showSection,
        intersection: { threshold: 0.3, },
      }"
    >
      <div>
        <h2 class="section-title">Where</h2>
        <div class="content">
          <p>L1, Eaton Hotel, 380 Nathan Road,<br>Kowloon, HK.</p>
          <div class="map-wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.2068751917195!2d114.16960601423656!3d22.308014548253755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400ea71bd40e1%3A0x32d9087e681d9351!2z6aaZ5riv6YC45p2x6YWS5bqX!5e0!3m2!1szh-TW!2shk!4v1528906902516"
              width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </section>
    <section
      id="by-whom"
      class="container"
      v-observe-visibility="{
        callback: showSection,
        intersection: { threshold: 0.3, },
      }"
    >
      <div>
        <h2 class="section-title">By Whom</h2>
        <div class="content">
          <div class="organizations">
            <div class="organization">
              <h3>Organizer</h3>
              <a href="https://facebook.com/groups/hklug/" target="_blank">
                <figure>
                  <img src="/images/logos/hklug_400x400.png">
                  <figcaption>
                    <span class="lang-zh" lang="zh">香港 Linux 用家協會</span>
                    <span class="lang-en" lang="en">Hong Kong Linux User Group</span>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <noscript inline-template>
      <style>
        /**
        * fallback style
        */
        section:nth-child(n) {
          opacity: 1;
        }
      </style>
    </noscript>
  </main>
</template>

<style lang="scss">
body {
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

p {
  margin: 1em 0;
  line-height: 1.5em;
}

ol, ul {
  padding-left: 1em;
}

li {
  margin: 0.5em 0;
}

em {
  font-style: normal;
  color: #aa0000;
}

iframe {
  display: block;
  border-width: 0;
  width: 100%;
  height: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  > div {
    flex: 1;
  }

  ol, ul {
    text-align: left;
  }
}
section:nth-child(n) {
  opacity: 0;
  transition: opacity 3s;
}
section:nth-child(n).show {
  opacity: 1;
}
section:nth-child(2) {
  background-image: url("/images/theme_1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
section:nth-child(3) {
  background-image: url("/images/theme_2.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 5em;
  color: #aa0000;
  margin: 0.3em 0;
}

.logo {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  img {
    max-width: 80%;
    height: auto;
  }
}

.subtitle {
  font-weight: 300;
  font-size: 2em;
  line-height: 1.2em;
  color: #330000;
  margin: 0 0 1.5em;

  @media screen and (max-width: 600px) {
    font-size: 1.3em;
  }
}

.section-title {
  font-size: 2.5em;
  word-spacing: .3em;
  margin-bottom: 1em;
}

.content {
  max-width: 580px;
  padding: 0 10px;
  margin: 1em auto;
}

.google-calendar-wrapper {
  width: 100%;
  height: 30vh;
  overflow-y: hidden;
  margin: 1em auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  .google-calendar {
    width: 100%;
    height: calc(30vh + 25px);
  }
}

.map-wrapper {
  width: 100%;
  height: 50vh;
}

.calendar-links {
  display: flex;
  margin: 1em 0;
  .link-wrapper {
    flex: 1;
    a.link {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      font-size: 0.8em;
      border: solid 1px #AAA;
      background-color: #EEE;
      color: #000;
      transition: background-color 0.4s, color 0.4s;
      &:before {
        display: inline-block;
        content: '+';
        padding: 0 0.7em;
        line-height: 2.2em;
        background-color: #AAA;
        color: #000;
        transition: background-color 0.4s, color 0.4s;
      }
      span {
        display: inline-block;
        line-height: 2.2em;
        padding: 0 0.5em;
      }
      &:hover {
        background-color: #A00;
        color: #FFF;
        &:before {
          color: #FFF;
          background-color: #600;
        }
      }
    }
  }
}

.map-wrapper {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.organizations {
  display: flex;
  .organization {
    flex: 1;
    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.5;
      }
    }
    h3 {
      margin-bottom: 1.5em;
    }
    figure {
      padding: 1em;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    figcaption {
      span {
        display: block;
        line-height: 2em;
      }
      .lang-en {
        font-size: 0.8em;
      }
    }
  }
}
</style>

<script>

import { ObserveVisibility } from 'vue-observe-visibility';

export default {
  directives: {
    'observe-visibility': ObserveVisibility,
  },
  methods: {
    showSection: function (isVisible, entry) {
      if (isVisible) {
        // add class to show the section
        entry.target.classList.add('show');

        // get site title from h1 for rendering page title
        var siteTitle = document.getElementsByTagName("h1")[0].title;
        if (typeof history.pushState != 'undefined') {
          // determine the section title
          var sectionTitle =
            (entry.target.id === 'home' || entry.target.getElementsByTagName("h2").length == 0) ?
            siteTitle :
            `${entry.target.getElementsByTagName("h2")[0].innerText} | ${siteTitle}`;

          // override page title with section title
          if (entry.target.id != 'home') {
            history.pushState({section: entry.target.id}, sectionTitle, '#' + entry.target.id);
          } else {
            history.pushState({section: entry.target.id}, sectionTitle, '/');
          }
          document.title = sectionTitle;
        }
      }
    }
  }
}

</script>
